body {
  background-color: #48416c;
}

.section-one {
  background-color: #48416c;
}

/*FONTS*/
@font-face {
  font-family: BlockyFont;
  src: url(BloxBrk-M7Ke.ttf);
}

@font-face {
  font-family: BoldFont;
  src: url(Profontwindows-L3amg.ttf);
}

/*FONTS*/

h1 {
  font-family: BlockyFont;
  color: #edc18d;
  letter-spacing: 3px;
}

.title {
  text-align: center;
}

.div-One {
  background-color: #edc18d;
  border-radius: 15px;
}

.div-Two {
  width: 350px;
  height: 75px;
  display: flex;
  flex-direction: row;
  background-color: #edc18d;
  border-radius: 15px;
}

.div-date {
}

.div-time {
}

.p-time {
  font-family: BoldFont;
}

.p-date {
  font-family: BoldFont;
}

select {
  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

.text2 {
  font-family: BoldFont;
}

.text1 {
  font-family: BoldFont;
  padding: 5px;
  text-align: center;
}

.text3 {
  font-family: BoldFont;
  padding: 5px;
}

div {
  margin: 10px;
}

#output {
  width: 95%;
  max-height: 6%; /* Set a max height for the scrollable area */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 10px;
  margin-top: 10px;
  background-color: #48416c;
  border: #555 1px;
  color: #edc18d;
  border: 1px #edc18d solid;
  border-radius: 30px;
}

/* Optional: Customize the scrollbar */
#output::-webkit-scrollbar {
  width: 15px;
}

#output::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}

#output::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.delete-btn {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  background-color: #edc18d;
  color: whitesmoke;
  border: none;
  padding: 5px 5px;
  font-size: 10px;
  border-radius: 5px;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.delete-btn:hover {
  background-color: #edc18d;
}

.delete-btn:hover {
  background-color: #999;
}
.delete-btn :active {
  background-color: #edc18d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.submit-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #edc18d;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.submit-btn:hover {
  background-color: #999;
}

.submit-btn:active {
  background-color: #edc18d;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.scroll-title {
  color: #edc18d;

  text-align: center;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

input[type="text"] {
  border-radius: 15px;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input[type="time"] {
  border: 3px solid #ccc;
}
